@font-face {
  font-family: Arial Black;
  src: url(arial-black.ttf);
}
:root {
  --white1: white;
  --black1: black;
  --black-200: #262626;
  --gray-200: #747474;
}

.text-white1 {
  color: var(--white1);
}

.bg-white1 {
  background-color: var(--white1);
}

.text-black1 {
  color: var(--black1);
}

.bg-black1 {
  background-color: var(--black1);
}

.text-black-200 {
  color: var(--black-200);
}

.bg-black-200 {
  background-color: var(--black-200);
}

.text-gray-200 {
  color: var(--gray-200);
}

.bg-gray-200 {
  background-color: var(--gray-200);
}

#topbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: white;
  width: 100%;
  z-index: 3;
}
#topbar .navbar {
  background-color: white;
  display: block;
  margin: 0px auto;
  padding: 0px 1rem;
  border-bottom: 0.0625rem solid #eeeeee;
}
#topbar .navbar .nav_menu {
  list-style: none;
  margin: 0px 0px -0.0625rem;
  padding: 0px;
  display: flex;
  justify-content: start;
}
#topbar .navbar .nav_menu .nav_item {
  position: relative;
  list-style: none;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0px;
  color: #262626;
}
#topbar .navbar .nav_menu .nav_item button {
  padding: 0.75rem 1rem;
  display: inline-block;
  text-decoration: none;
  border: none;
  background: none;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0px;
  color: #262626;
}
#topbar .navbar .nav_menu .nav_item button:hover {
  color: white;
  background-color: #262626;
}
#topbar .navbar .nav_menu .nav_item .nav_dropdown {
  display: none;
  position: absolute;
  top: 100%;
  padding-top: 0.1875rem;
  left: auto;
  background: white;
  border: 0.0625rem solid #cccccc;
  border-radius: 0.125rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0.75rem 0.25rem;
}
#topbar .navbar .nav_menu .nav_item .nav_dropdown .drop_menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-size: 0.875rem;
  min-width: 16.875rem;
}
#topbar .navbar .nav_menu .nav_item .nav_dropdown .drop_menu .drop_item {
  border-bottom: 0.0625rem solid #eeeeee;
  position: relative;
  list-style: none;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0px;
  color: #262626;
}
#topbar .navbar .nav_menu .nav_item .nav_dropdown .drop_menu .drop_item .drop_link {
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + 2px);
  padding: 0.75rem 1rem;
  margin: -0.0625rem;
  text-decoration: none;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #262626;
}
#topbar .navbar .nav_menu .nav_item .nav_dropdown .drop_menu .drop_item .drop_link:hover {
  color: #eeeeee;
  background-color: #262626;
}
#topbar .navbar .nav_menu .nav_item .nav_dropdown .drop_menu .drop_item:last-of-type {
  border-bottom: #262626;
}
#topbar .navbar .nav_menu .nav_item:hover .nav_dropdown {
  display: block;
}

#main_area #hero {
  background: url(../assets/images/home/hero/hero.jpg) no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}
#main_area #hero .hero_inner {
  padding: 8rem 0;
}
#main_area #hero .hero_inner .hero_title {
  text-transform: uppercase;
  font-family: "GT America Expanded", "Arial Black", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
  color: #262626;
  margin-bottom: 1.25rem;
}
#main_area #hero .hero_inner .hero_text {
  margin-bottom: 1.5rem;
  max-width: 31.5rem;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #262626;
}
#main_area #hero .hero_inner .hero_img {
  display: inline-block;
}
#main_area #hero .hero_inner .hero_img a {
  display: inline-block;
}
#main_area #hero .hero_inner .hero_img a img {
  width: 120px;
  height: 40px;
}
#main_area #hero .hero_inner .hero_img a .lastImg {
  margin-left: 1.25rem;
}
#main_area #about {
  margin-bottom: 4rem;
}
#main_area #about .about_inner_left .about_title {
  margin-bottom: 2rem;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #262626;
}
#main_area #about .about_inner_left .about_text {
  margin-bottom: 2rem;
  max-width: 35rem;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #262626;
}
#main_area #about .about_inner_left .about_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 0.875rem;
  border-radius: 0.125rem;
  background-color: #262626;
  color: white;
  border-color: #262626;
  border-width: 0.125rem;
  border-style: solid;
  text-decoration: none;
  transition: all 0.2s ease 0s;
}
#main_area #about .about_inner_left .about_btn:hover {
  background-color: #747474;
  border-color: #747474;
}
#main_area #about .about_inner_right {
  height: 31.25rem;
  width: 25rem;
  background-color: white;
  position: relative;
}
#main_area #about .about_inner_right .main_img {
  position: relative;
  height: 100%;
}
#main_area #about .about_inner_right .main_img img {
  display: block;
  max-height: 31.25rem;
  max-width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}
#main_area #find_style {
  margin-bottom: 4rem;
}
#main_area #find_style .style_inner_left {
  position: relative;
  height: 31.25rem;
}
#main_area #find_style .style_inner_left .img_wrapper {
  position: relative;
  height: 100%;
}
#main_area #find_style .style_inner_left .img_wrapper img {
  display: block;
  max-height: 31.25rem;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  max-width: 100%;
  height: auto;
}
#main_area #find_style .style_inner_right .style_title {
  margin-bottom: 2rem;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #262626;
}
#main_area #find_style .style_inner_right .style_text {
  margin-bottom: 2rem;
  max-width: 35rem;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #262626;
}
#main_area #find_style .style_inner_right .style_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 0.875rem;
  border-radius: 0.125rem;
  background-color: #262626;
  color: white;
  border-color: #262626;
  border-width: 0.125rem;
  border-style: solid;
  text-decoration: none;
  transition: all 0.2s ease 0s;
}
#main_area #find_style .style_inner_right .style_btn:hover {
  background-color: #747474;
  border-color: #747474;
}
#main_area #products {
  margin-bottom: 5rem;
}
#main_area #products .product_title {
  margin-bottom: 1.5rem;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #262626;
}
#main_area #products .products_inner .product_inner {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, minmax(0px, 1fr));
  margin: 0px;
  padding: 0px;
}
#main_area #products .products_inner .product_inner .product_item {
  list-style-type: none;
  position: relative;
  margin-bottom: 1rem;
}
#main_area #products .products_inner .product_inner .product_item a {
  position: relative;
  text-decoration: none;
  color: #262626;
  background-color: #d7d7d7;
  background-color: black;
  display: block;
  padding-bottom: 100%;
  width: 100%;
  list-style-type: none;
}
#main_area #products .products_inner .product_inner .product_item a:hover .img_wrapper img {
  color: #262626;
  background-color: black;
  opacity: 0.8;
}
#main_area #products .products_inner .product_inner .product_item a .img_wrapper {
  position: absolute;
  inset: 0px;
}
#main_area #products .products_inner .product_inner .product_item a .img_wrapper img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  font-size: 0px;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  max-width: 100%;
  height: auto;
}
#main_area #products .products_inner .product_inner .product_item .price_wrapper {
  position: absolute;
}
#main_area #products .products_inner .product_inner .product_item .price_wrapper .price {
  display: inline-block;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #262626;
}
#main_area #products .products_inner .product_inner .product_item .price_wrapper .delPrice {
  padding-right: 0.25rem;
  text-decoration: line-through;
  display: inline-block;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #747474;
}
#main_area #sell {
  margin-bottom: 4rem;
}
#main_area #sell .sell_inner_left .sell_title {
  margin-bottom: 2rem;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #262626;
}
#main_area #sell .sell_inner_left .sell_text {
  margin-bottom: 2rem;
  max-width: 35rem;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #262626;
}
#main_area #sell .sell_inner_left .sell_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem 0.875rem;
  border-radius: 0.125rem;
  background-color: #262626;
  color: white;
  border-color: #262626;
  border-width: 0.125rem;
  border-style: solid;
  text-decoration: none;
  transition: all 0.2s ease 0s;
}
#main_area #sell .sell_inner_left .sell_btn:hover {
  background-color: #747474;
  border-color: #747474;
}
#main_area #sell .sell_inner_right {
  position: relative;
  height: 31.25rem;
}
#main_area #sell .sell_inner_right .img_wrapper {
  position: relative;
  height: 100%;
}
#main_area #sell .sell_inner_right .img_wrapper img {
  display: block;
  max-height: 31.25rem;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  max-width: 100%;
  height: auto;
}
#main_area #seller {
  margin-bottom: 5rem;
}
#main_area #seller .seller_inner {
  display: grid;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  gap: 1rem;
}
#main_area #seller .seller_inner .seller_card {
  text-decoration: none;
}
#main_area #seller .seller_inner .seller_card .seller_img_bg {
  position: relative;
  background-color: black;
  color: #262626;
}
#main_area #seller .seller_inner .seller_card .seller_img_bg .seller_img img {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  max-width: 100%;
  height: auto;
}
#main_area #seller .seller_inner .seller_card .seller_img_bg:hover .seller_img img {
  color: #262626;
  background-color: black;
  opacity: 0.8;
}
#main_area #seller .seller_inner .seller_card .seller_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#main_area #seller .seller_inner .seller_card .seller_info .seller_logo {
  background-color: #262626;
  padding: 0.25rem;
  display: flex;
}
#main_area #seller .seller_inner .seller_card .seller_info .seller_logo img {
  height: 1.375rem;
  width: 1.375rem;
}
#main_area #seller .seller_inner .seller_card .seller_info .seller_title {
  color: #262626;
  text-transform: uppercase;
  margin-left: 0.375rem;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0;
}
#main_area #community {
  max-width: 80rem;
  margin: 0px auto 4rem;
  padding: 0px 1rem;
}
#main_area #community .community_text {
  text-align: center;
  font-family: "GT America Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #262626;
}/*# sourceMappingURL=style.css.map */